In [1]:
import pandas as pd
from nltk.tokenize import word_tokenize

In [3]:
# spark

StatementMeta(firstpoolv1, 6, 4, Finished, Available)

In [4]:
# sparkdf = spark.read.load('abfss://csvcompanydata@foretldatav1.dfs.core.windows.net/companykaggledata/copieddata.csv',format='csv',header=True,index=False);

StatementMeta(firstpoolv1, 6, 5, Finished, Available)

In [7]:
# import plotly.express as px
# pandasDF = sparkdf.toPandas()
# #print(pandasDF)

StatementMeta(firstpoolv1, 6, 8, Finished, Available)

In [1]:
pandasDF[:20]

NameError: name 'pandasDF' is not defined

In [9]:
nameofcompany = pandasDF['name']
ratingofcompany = pandasDF['rating']
reviewsofcompany = pandasDF['reviews']

StatementMeta(firstpoolv1, 6, 10, Finished, Available)

In [10]:
count1 = 0
for i in nameofcompany:
    count1 = count1 + 1

count2 = 0
for i in ratingofcompany:
    count2 = count2 + 1

count3 = 0
for i in reviewsofcompany:
    count3 = count3 + 1

print(count1)
print(count2)
print(count3)

StatementMeta(firstpoolv1, 6, 11, Finished, Available)

75217
75217
75217

In [11]:
newdatafram1 = pandasDF[['name','rating','reviews','description']]

StatementMeta(firstpoolv1, 6, 12, Finished, Available)

In [12]:
len(newdatafram1)

StatementMeta(firstpoolv1, 6, 13, Finished, Available)

75217

In [13]:
newdatafram1[:5]

StatementMeta(firstpoolv1, 6, 14, Finished, Available)

,name,rating,reviews,description
0,Sitel,None,None,"Sitel Group’s 75,000 people across the globe c..."
1,We are redefining the contact center and impro...,emotion and empathy of our people. As a CX pl...,we are powered by experts to deliver tailored...,customer-centric approach adding value at eve...
2,Learn more at www.sitel.com and connect with u...,"LinkedIn and Twitter. – less""","{'Work Happiness Score': '55', 'Achievement': ...",70%
3,Facebook,None,None,None
4,"Sitel website""",None,None,None

In [31]:
df = newdatafram1[newdatafram1['rating'].notna()]

StatementMeta(firstpoolv1, 6, 32, Finished, Available)

In [38]:
df.dtypes

StatementMeta(firstpoolv1, 6, 39, Finished, Available)

name           object
rating         object
reviews        object
description    object
dtype: object

In [39]:
framerating10 = df[df["rating"] == '1.0'] 
framerating11 = df[df["rating"] == '1.1'] 
framerating12 = df[df["rating"] == '1.2'] 
framerating13 = df[df["rating"] == '1.3'] 
framerating14 = df[df["rating"] == '1.4']
framerating15 = df[df["rating"] == '1.5'] 
framerating16 = df[df["rating"] == '1.6'] 
framerating17 = df[df["rating"] == '1.7'] 
framerating18 = df[df["rating"] == '1.8'] 
framerating19 = df[df["rating"] == '1.9'] 


framerating20 = df[df["rating"] == '2.0']
framerating21 = df[df["rating"] == '2.1']
framerating22 = df[df["rating"] == '2.2']
framerating23 = df[df["rating"] == '2.3']
framerating24 = df[df["rating"] == '2.5']
framerating25 = df[df["rating"] == '2.4']
framerating26 = df[df["rating"] == '2.6']
framerating27 = df[df["rating"] == '2.7']
framerating28 = df[df["rating"] == '2.8']
framerating29 = df[df["rating"] == '2.9']




framerating30 = df[df["rating"] == '3.0']
framerating31 = df[df["rating"] == '3.1']
framerating32 = df[df["rating"] == '3.2']
framerating33 = df[df["rating"] == '3.3']
framerating34 = df[df["rating"] == '3.4']
framerating35 = df[df["rating"] == '3.5']
framerating36 = df[df["rating"] == '3.6']
framerating37 = df[df["rating"] == '3.7']
framerating38 = df[df["rating"] == '3.8']
framerating39 = df[df["rating"] == '3.9']


framerating40 = df[df["rating"] == '4.0']
framerating41 = df[df["rating"] == '4.1']
framerating42 = df[df["rating"] == '4.2']
framerating43 = df[df["rating"] == '4.3']
framerating44 = df[df["rating"] == '4.4']
framerating45 = df[df["rating"] == '4.5']
framerating46 = df[df["rating"] == '4.6']
framerating47 = df[df["rating"] == '4.7']
framerating48 = df[df["rating"] == '4.8']
framerating49 = df[df["rating"] == '4.9'] 


framerating50 = df[df["rating"] == '5.0'] 
framerating51 = df[df["rating"] == '5.1'] 
framerating52 = df[df["rating"] == '5.2'] 
framerating53 = df[df["rating"] == '5.3'] 
framerating54 = df[df["rating"] == '5.4'] 
framerating55 = df[df["rating"] == '5.5'] 
framerating56 = df[df["rating"] == '5.6'] 
framerating57 = df[df["rating"] == '5.7'] 
framerating58 = df[df["rating"] == '5.8'] 
framerating59 = df[df["rating"] == '5.9'] 


newdatafram1 = pandasDF[['name','rating','reviews','description']]

StatementMeta(firstpoolv1, 6, 40, Finished, Available)

In [42]:
# for i in df["rating"]:
#     if i == '1.0' or i < '2.0':
#         print(i)

count1 = []
count12 = []
count13 = []
count14 = []
count15 = []
count16 = []
count17 = []
count18 = []
count19 = []
count10 = []
count2 = []
count22 = []
count23 = []
count24 = []
count25 = []
count26 = []
count27 = []
count28 = []
count29 = []
count3 = []
count32 = []
count33 = []
count34 = []
count35 = []
count36 = []
count37 = []
count38 = []
count39 = []
count4 = []
count23 = []
count23 = []


for i in df["rating"]:
    if i == "1.0":
        countv.append(i)
    if i == "1.1":
        countv1.append(i)
print(countv1)

StatementMeta(firstpoolv1, 6, 43, Finished, Available)

['1.1', '1.1', '1.1', '1.1', '1.1', '1.1']

In [ ]:
desc1 = framerating5['description']
desc1[:10]

In [ ]:
desc1['Great'] = (framerating5["description"].str.lower()
                            .str.contains("great", regex=False, na=False)
                            .astype(int))

In [27]:
framerating5['description'].str.contains('bank').sum()

StatementMeta(firstpoolv1, 6, 28, Finished, Available)

3

In [ ]:

substring = 'consulting'
framerating4[framerating4.apply(lambda row: row.astype(str).str.contains(substring, case=False).any(), axis=1)]